volumes:
  caddy-data:
  caddy-config:
  garage-data:
    driver: local

networks:
  modos-network:
    driver: bridge

services:

  caddy:
    image: docker.io/caddy:2
    restart: always
    depends_on:
      - htsget
    ports:
      - "80:80"
      - "80:80/udp"
      - "443:443"
      - "443:443/udp"
    volumes:
      - ./caddy/Caddyfile:/etc/caddy/Caddyfile
      - caddy-data:/data
      - caddy-config:/config
    environment:
      - DOMAIN=${DOMAIN:-http://localhost}
      - FUZON_LOCAL_URL=${FUZON_LOCAL_URL:-http://fuzon:9090}
      - REFGET_LOCAL_URL=${REFGET_LOCAL_URL:-http://refget:8080}
      - HTSGET_LOCAL_URL=${HTSGET_LOCAL_URL:-http://htsget:8080}
      - MODOS_LOCAL_URL=${MODOS_LOCAL_URL:-http://modos-server:8000}
      - S3_LOCAL_URL=${S3_LOCAL_URL:-http://garage:9000}
    networks:
      - modos-network


  garage:
    build: ./garage
    restart: unless-stopped
    post_start:
      - command: bash /tmp/post-hook.sh
    profiles:
      - local
    ports:
      - "9000:9000"
    volumes:
      - garage-data:/var/lib/garage/data
      - ./garage/garage.toml.template:/etc/garage.toml.template:ro
      - ./garage/post-hook.sh:/tmp/post-hook.sh:ro
    networks:
      - modos-network
    environment:
      - GARAGE_ADMIN_TOKEN=${GARAGE_ADMIN_TOKEN:-garage}
      - GARAGE_S3_REGION=${GARAGE_S3_REGION:-us-east-1}
      - CLIENT_ID=${AWS_ACCESS_KEY_ID:-garage}
      - CLIENT_SECRET=${AWS_SECRET_ACCESS_KEY:-garage-secret}


  htsget:
    build: ./htsget
    ports:
      - "8080:8080" # ticket server
    volumes:
      - ./htsget/config.toml.template:/htsget/config.toml.template:ro
    expose:
      - "8080" # ticket server
      - "8081" # data block server
    networks:
      - modos-network
    environment:
      - ENDPOINT=${S3_PUBLIC_URL:-http://localhost/s3}
      - BUCKET=${S3_BUCKET:-modos-demo}
      - S3_ADDRESSING_STYLE=${S3_ADDRESSING_STYLE:-auto}
      - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID:-garage}
      - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY:-garage-secret}
      - AWS_REGION=${GARAGE_S3_REGION:-us-east-1}
      - RUST_LOG=debug


  fuzon:
    build: ./fuzon
    volumes:
      - ./fuzon/config.json.template:/fuzon/config.json.template:ro
    expose:
      - "9090"
    networks:
      - modos-network


  refget:
    build: ./refget
    volumes:
      - ./refget/config.properties.template:/refget/config.properties.template:ro
    expose:
      - "8080"
    networks:
      - modos-network
    environment:
      - ENDPOINT=${S3_PUBLIC_URL:-http://localhost/s3}
      - BUCKET=${REFERENCE_BUCKET:-reference-genomes}
      - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID:-garage}
      - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY:-garage-secret}


  modos-server:
    build: ./modos-server
    expose:
      - "8000"
    networks:
      - modos-network
    environment:
      - FUZON_PUBLIC_URL=${FUZON_PUBLIC_URL:-http://localhost/fuzon}
      - HTSGET_LOCAL_URL=${HTSGET_LOCAL_URL:-http://htsget:8080}
      - HTSGET_PUBLIC_URL=${HTSGET_PUBLIC_URL:-http://localhost/htsget}
      - REFGET_PUBLIC_URL=${REFGET_PUBLIC_URL:-http://localhost/refget}
      - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID:-garage}
      - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY:-garage-secret}
      - S3_ADDRESSING_STYLE=${S3_ADDRESSING_STYLE:-auto}
      - S3_BUCKET=${S3_BUCKET:-modos-demo}
      - S3_LOCAL_URL=${S3_LOCAL_URL:-http://garage:9000}
      - S3_PUBLIC_URL=${S3_PUBLIC_URL:-http://localhost/s3}
    command: uv run uvicorn --host 0.0.0.0 --port 8000 --reload server:app
